.root {
    -fx-background-color: #2f3136;
}

.button {
    -fx-background-color: #36393e;
    -fx-text-fill: #dcddde;
}

.label {
    -fx-text-fill: #dcddde;
}

.separator {
    -fx-background: #72767d;
}

.dialog-pane:header *.header-panel{
    -fx-background-color: #2f3136;
}